* {
  box-sizing: border-box;
}

html {
  font-family: 'Quicksand', sans-serif;
}

.misc {
  display: flex;
  align-items: center;
  color: #333;
  padding-bottom: 50px;
  padding: 15px 30px;
}

.container {
  position: absolute;
  padding: 15px 30px;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  justify-content: center;
  text-align: center;
  background-image: url(img/posters/Diary-Pen-Empty-Paper-Blank-Diary-Blank-Paper-1230085.jpg);
  background-size: cover;
  background-position: center;
  padding-bottom: 50px;
}

.header {
   z-index: 10;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  padding: 8px 30px;

}

.btn {
  margin-top: 20px;
}

.persons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.person-card {
  border: 2px solid #333;
  height: 350px;
  width: 350px;
  overflow: scroll;
  background-color: rgba(220, 220, 220, .8);
  margin-top: 20%;

}

.person-card-img {
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 0px;
  max-width: 90%;
  max-height: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.person-card-title {
  display: block;
  text-align: center;
  margin-top: 0px;
  color: #22324c;
}

.detail-photo{
  border: 2px solid #333;
  width: 350px;
  height: 350px;
  padding-top: 20px;
  padding-bottom: 30px;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  background-color: rgba(220, 220, 220, .8);
}

/* .detail-music, .detail-special-moment, .detail-activity, .detail-last-visit {

  <img src="https://pbs.twimg.com/profile_images/761645430937522177/f5-8JkIE.jpg" alt="Smiley face" height="390" width="390" />
} */

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
    border: 2px solid #333;
   /* width: 40%; */
    display: inline-block;
    margin-bottom: 20px;


}
    /* flip the pane when hovered */
    .flip-container:hover .flipper, .flip-container.hover .flipper {
        transform: rotateY(180deg);
    }

.flip-container, .front, .back {
    width: 390px;
    height: 390px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    color: #1c293f;
    padding-top: 30%;
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    background-color: rgba(220, 220, 220, .8);
}

/* back, initially hidden pane */
.back {
    color: white;
    background-color: #5e79a5;
    padding-top: 30%;
    transform: rotateY(180deg);
}

